.overlay {
  display: none;
}

.overlay.show {
  background-color: rgba(0, 0, 0, .5);
  display: grid;
  height: 100vh;
  position: fixed;
  place-items: center;
  top: 0;
  width: 100vw;
}

.modal {
  background-color: white;
  border-radius: var(--border-radius);
  color: black;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 20px;
  width: 90%;
}

.title {
  font-size: 1.8rem;
  text-align: center;
}

.images {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.images img {
  max-width: 180px;
  width: 100%;
  object-fit: contain;
  aspect-ratio: 4/3;
}

.modal button {
  align-self: flex-end;
  background: none;
  border: none;
  color: black;
  font-size: 1rem;
}