.overlay {
  display: none;
}

.overlay.show {
  background-color: rgba(0, 0, 0, .5);
  color: var(--color-secondary);
  display: grid;
  height: 100vh;
  position: fixed;
  place-items: center;
  top: 0;
  left: 0;
  width: 100vw !important;
}

.modal {
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  line-height: 1.2rem;
  max-width: 400px;
  padding: 20px;
  width: 90%;
}

.title {
  font-size: 1.8rem;
  text-align: center;
}

.images {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px 0;
}

.images img {
  max-width: 150px;
  width: 100%;
  object-fit: contain;
  aspect-ratio: 4/3;
}

.modal button {
  align-self: flex-end;
  border: none;
  background: none;
  color: var(--color-secondary);
  font-size: 1rem;
  font-weight: 600;
}

.modal span {
  font-style: italic;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.body > * {
  margin-bottom: 10px;
}

.body p:nth-child(1),
.body p:nth-child(2),
.body p:nth-child(8),
.body ul {
  border-bottom: 2px dashed var(--color-secondary);
}

.body p {
  display: flex;
  justify-content: space-between;
}

.body li {
  margin-left: 2rem;
}

.modal a {
  font-size: 1.2rem;
  margin: 20px 0;
  text-align: center;
}