:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  --color-primary: #000000;
  --color-secondary: #48bad2;
  --border-radius: 12px;
  --shadow: rgba(0, 0, 0, 0.23) 0px 3px 6px;
  ;
}

.light {
  --color-primary: #000000;
  --color-secondary: #48bad2;
}

.dark {
  --color-primary: #48bad2;
  --color-secondary: #000000;
}

body {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--color-secondary);
}

svg {
  color: var(--color-primary);
}

@media (prefers-color-schema: dark) {
  :root {
    --color-primary: #48bad2;
    --color-secondary: #000000;
  }
}

@media (max-width: 480px) {
  :root {
    font-size: 14px;
  }
}