:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color-scheme: light dark;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  --color-primary: #fff;
  --color-secondary: #000;
  --border-radius: 12px;
  --shadow: 0 5px 12px 0 var(var(--color-primary));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
